$white: #ffffff;
$light-blue: #67bfdc;
$blue: #6e9bca;
$gray: #999999;
$dark-blue:#373645;
$black: #242424;

$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

$mobile: 480px;
$table: 600px;
$desktop: 960px;
$desktopLarge: 1160px;
$desktopExtraLarge: 1440px;
